*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bodoni Moda', serif;
    background-color: #EAEAEA;
}

/* HEADER */
#header{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}


.logo{
    width: 70px;
    /* height: 70px; */
    margin-right: 5px;
    vertical-align: middle;
}

#Title{
    font-size: 40px;
    color: rgba(2, 23, 50, 1);
    vertical-align: middle;
}

/* MAIN */

main{
    width: 80%;
    height: 600px;
    margin: 50px auto;
    background-color: rgb(253, 251, 252);
}

/* MAIN HEAD */
.main-head{
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid rgba(2, 23, 50, 1) ;
}

.Task{
    display: inline-block;
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(235, 235, 235);
    background-color: dodgerblue;
    border-radius: 10px;

}

.Task-Section{
    width: 150px;
    color: white;
    background-color: #C0C0C0;
}

/* MAIN BODY */



